<div id="container">

  <div id="chatContainer">

    <div id="sidebar">

      <div id="searchBox">
        <img width="13" src="../../../../../assets/icons/searchIcon.png" />
        <input type="text" placeholder="zoeke ..." />
      </div>
      <div id="sidebarContent">
        <div id="noMembers"> </div>
        <div id="yesMembers"></div>
      </div>
      <div id="sidebarHeader">
        <button id="btn">voeg toe</button>
      </div>
    </div>
    <div id="chat"></div>

  </div>
</div>