<div id="container">

  <div id="chatContainer">

    <div id="sidebar">

      <div id="sidebarHeader">
        <button id="btn" (click)="openAddEditMemberDialog()">voeg toe</button>
      </div>

      <div id="sidebarContent">
        <!-- <div id="noMembers"> </div> -->
        <div id="members" *ngFor="let member of member$">
          <div class="picture">
            <img class="rounded-circle image" src="../../../../../assets/images/{{member.avatar}}">
          </div>
          <div class="content">
            <div class="memberDetail">
              <div class="name">{{member.firstName}} {{member.lastName}}</div>
              <div (click)="openInfoMemberDialog(member.id)" class="memberInfo">
                <mat-icon>info</mat-icon>
              </div>
            </div>
            <div class="email">{{member.email}}</div>
            <hr>
          </div>

        </div>
      </div>

    </div>
    <div id="container">
      <app-post></app-post>
    </div>

  </div>
</div>