<div id="container">
  <div class="gardenRow" *ngFor="let garden of garden$">
    <div class="gardenInfo">
      <div class="gardenDetails">
        <div class="details">
          <h2>{{garden.name}}</h2>
          <p>{{garden.street}} {{garden.city}} {{garden.country}}</p>
          <p>{{garden.area_m}} m²</p>
        </div>
        <div class="edit">
          <img (click)="editGarden(garden.id)" src="../../../../../assets/icons/editIcon.png"
            style="width: 30px;height: 30px;margin: 5px; cursor: p;">
        </div>
      </div>
      <div class="gardenPlantBtn">
        <button routerLink="plant" class="btnn">Plant toevoegen</button>
      </div>
    </div>

  </div>
  <div class="gardenTable">


    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Zonuur</th>
          <th scope="col">Gebladerte</th>
          <th scope="col">Bemesting</th>
          <th scope="col">Water</th>
          <th scope="col">Creëren op</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plant of gardenPlants$">
          <td>{{plant.image}}</td>
          <td>{{plant.name}}</td>
          <td>{{plant.suns_hday}}</td>
          <td>{{plant.foliage_day}}</td>
          <td>{{plant.fertilizer_day}}</td>
          <td>{{plant.water_day}}</td>
          <td>{{plant.created_at}}</td>
        </tr>

      </tbody>
    </table>



  </div>
</div>