<ng-container *ngFor="let member of member$">
    <div mat-card-title id="member-name">
        <h2 *ngIf="recieveMemberId">
            {{ member.firstName | uppercase }} {{ member.lastName | uppercase }}
        </h2>
        <img style="height: 100px;width: 120px;" src="../../../../../assets/images/avatar1.png" alt="">
    </div>

    <mat-card-content class="member-detail">
        <div id="row1">
            <div class="role">
                <mat-label>{{ member.role }}</mat-label>
            </div>
            <div class="email">
                <mat-label>{{ member.email }}</mat-label>
            </div>
            <div *ngIf="member.phone_nummer" class="phone">
                <mat-label>Bel: {{ member.phone_nummer }}</mat-label>
            </div>
            <div class="created">
                <mat-label>Lid sinds {{ member.created_at | date: "d/M/yy" }}</mat-label>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer class="footer">
        <button mat-dialog-close="close()">sluit</button>
        <button (click)="deleteMember()">delete</button>
    </mat-card-footer>
</ng-container>