<ng-container *ngFor="let plant of plant$">
  <h2 *ngIf="recievePlantId" mat-dialog-title class="d-flex justify-content-center">
    {{ plant.name }}
  </h2>
  <hr />
  <mat-dialog-content class="mat-typography">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="row justify-content-space-between">
            <img class="img-responsive" style="height: 200px; width: 250px"
              src="./assets/plantsImages/{{ plant.image }}" alt="{{ plant.name }}" />
          </div>
          <div class="row mt-5 justify-content-center">
            <div class="col">
              <p>{{ plant.description }}</p>
              <p>{{ plant.frost }}</p>
              <p>{{ plant.watering }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <h3>harvest</h3>
              <p>
                {{ plant.harvest }}
              </p>
            </div>
            <div class="col-md-6">
              <h3>tip</h3>
              <p>{{ plant.tip }}</p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <h3>attention</h3>
              <p>
                {{ plant.attention }}
              </p>
            </div>
            <div class="col-md-6">
              <h3>keep</h3>
              <p>
                {{ plant.keep }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="d-flex flex-row-reverse">
        <button mat-button class="p-2">toevoegen</button>
        <button mat-button (click)="close()" class="p-2">exit</button>
      </div>
    </div>
  </mat-dialog-content>
</ng-container>